/* 
    Document   : style.css
    Created on : 13-abr-2012, 17:31:08
    Author     : roberto
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

tt{
    display:none;
}

#message{
    display:none;
}
